body {
  height: 100vh;
  background-color: slategray;
}

header {
  height: 200px;
}

main {
  height: calc(80% - 300px);
}

footer {
  height: 100px;
}

h1 {
  color: red;
}

main p {
  color: green;
}